@import url("./sidebar.css");
@import url("./titlebar.css");
@import url("./valuechanger.css");
@import url("./overlays.css");
@import url("./themepreview.css");
@import url("./option.css");
@import url("./page/account.css");
@import url("./page/themes.css");
@import url("./page/visuals.css");
@import url("./page/shell.css");
@import url("./page/windows.css");
@import url("./page/apps.css");
@import url("./page/about.css");

#SettingsApp,
#SettingsApp * {
  --titlebar-height: 50px;
}

#SettingsApp window * {
  --titlebar-height: 40px;
}

#SettingsApp > div.body {
  --sidebar-width: 250px;
  padding: 0;
  display: flex;
  height: 100%;
}

#SettingsApp > div.body div.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  border-right: var(--win-border-light);
}

#SettingsApp > div.body div.content-wrapper {
  background-color: var(--win-bg);
  width: calc(100% - var(--sidebar-width));
}

#SettingsApp > div.body div.content-wrapper div.state-renderer {
  padding: 20px;
  padding-top: 5px;
  height: calc(100% - var(--titlebar-height));
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  transition: none;
  overflow: auto;
}
#SettingsApp > div.body div.state-renderer hr {
  border: var(--button-hover-bg) 1px solid;
}
