@import url("./sidebar.css");
@import url("./titlebar.css");

#SettingsApp {
  --titlebar-height: 50px;
}

#SettingsApp div.body {
  --sidebar-width: 250px;
  padding: 0;
  display: flex;
  height: 100%;
}

#SettingsApp div.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  border-right: var(--win-border-light);
}

#SettingsApp div.content-wrapper {
  background-color: var(--win-bg);
  width: calc(100% - var(--sidebar-width));
}

#SettingsApp div.content-wrapper div.state-renderer {
  padding: 15px;
  padding-top: 5px;
  height: calc(100% - var(--titlebar-height));
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}