#SettingsApp div.settings-option {
  display: flex;
  max-width: 610px;
  margin: 0 auto;
  align-items: center;
}

#SettingsApp div.settings-option h3.header {
  margin: 0;
}

#SettingsApp div.settings-option p.context {
  margin-bottom: 0;
  opacity: 0.6;
}

#SettingsApp div.settings-option div.option-input {
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

#SettingsApp div.settings-option div.option-input select {
  min-width: 100px;
  margin: 5px 0;
  height: 30px;
  background-color: var(--button-bg);
}

#SettingsApp div.settings-option div.option-input select:hover {
  background-color: var(--button-hover-bg);
}

#SettingsApp div.settings-option div.option-input button {
  height: 26px;
  margin: 7px 0;
}
