@import url("./sidebar/account.css");

#SettingsApp div.sidebar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

#SettingsApp div.sidebar hr {
  width: 100%;
  border: var(--win-border-light);
  margin: 10px 0;
}

#SettingsApp div.sidebar button.page {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: left;
  width: 100%;
  background-color: transparent;
  padding: 5px 7px;
  position: relative;
  white-space: nowrap;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 35px;
  border-radius: 7.5px;
}

#SettingsApp div.sidebar button.page img {
  height: 24px;
}

#SettingsApp div.sidebar button.page.selected {
  font-weight: bold;
  background-color: var(--accent-transparent);
}

#SettingsApp div.sidebar button.page img.icon {
  height: 18px;
  margin-right: 10px;
}

#SettingsApp div.sidebar button.page span.material-icons-round {
  margin: 0;
}

#SettingsApp div.sidebar button.page:hover {
  background-color: var(--button-glass-bg);
}

#SettingsApp div.sidebar button.page:active {
  background-color: var(--button-glass-active-bg);
}

#SettingsApp button.menu-toggle {
  background-color: transparent;
  padding: 0;
  font-size: 16px;
}

#SettingsApp.bigtb button.menu-toggle {
  font-size: 20px;
}
