@import url("./themepreview/desktop.css");
@import url("./themepreview/login.css");

div.theme-preview {
  aspect-ratio: 16/9;
  height: 150px;
  border: #000 10px solid;
  border-radius: 8px;
  background-image: var(--bg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  position: relative;
  outline: 1px solid var(--button-bg);
  image-rendering: pixelated;
}
