#SettingsApp > div.body div.titlebar {
  align-items: start;
  padding-top: 10px;
  background-color: transparent !important;
}
/* 
#SettingsApp > div.titlebar h1 {
  margin: 10px 15px;
}

#SettingsApp > div.titlebar.left div.controls {
  padding-left: 15px;
}
 */
