#SettingsApp window:not(#LoadSaveDialog) * {
  --titlebar-height: 0 !important;
}

#SettingsApp div.body div.value-changer {
  display: flex;
  align-items: start;
  gap: 0;
  flex-direction: column;
  width: 100%;
}

#SettingsApp div.body div.value-changer div.top {
  display: flex;
  align-items: start;
  gap: 15px;
  width: 100%;
  flex-grow: 1;
  padding: 20px;
}

#SettingsApp div.body div.value-changer div.image img {
  height: 48px;
  aspect-ratio: 1/1;
  border-radius: 5px;
}

#SettingsApp div.body div.value-changer div.changer-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 58px);
  flex-grow: 1;
}

#SettingsApp div.body div.value-changer div.changer-content h3 {
  margin: 0;
}

#SettingsApp div.body div.value-changer div.changer-content p {
  margin: 0;
}

#SettingsApp div.body div.value-changer div.changer-content input {
  width: 100%;
}

#SettingsApp div.body div.value-changer div.buttons {
  display: flex;
  margin-top: 0;
  justify-content: flex-end;
  border-top: var(--win-border);
  padding: 10px;
  background-color: var(--button-bg);
  width: 100%;
}

#SettingsApp div.body div.value-changer div.buttons {
  margin: 0;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

#SettingsApp div.body div.value-changer div.buttons button {
  min-width: 70px;
  margin: 0;
}

#SettingsApp div.body div.value-changer div.buttons button:not(.suggested) {
  background-color: var(--button-hover-bg);
}

#SettingsApp
  div.body
  div.value-changer
  div.buttons
  button:not(.suggested):hover {
  background-color: var(--button-glass-hover-bg);
}

#SettingsApp
  div.body
  div.value-changer
  div.buttons
  button:not(.suggested):active {
  background-color: var(--button-active-bg);
}
