#SettingsApp div.theme-overview {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
}

#SettingsApp div.theme-overview input.picker {
  border: none;
  width: 0px;
  height: 0px;
  padding: 0;
  min-width: unset !important;
  flex-grow: 0;
  margin-left: -5px;
  opacity: 0;
}

#SettingsApp div.theme-overview div.common {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

#SettingsApp div.theme-overview div.common p {
  margin: 0;
}

#SettingsApp div.theme-overview div.common p.name {
  font-weight: bold;
}

#SettingsApp div.theme-overview div.common p.value {
  opacity: 0.5;
}

#SettingsApp div.theme-overview div.common-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

#SettingsApp div.theme-overview div.common-option.accent p.value {
  font-family: "Source Code Pro", monospace;
}

#SettingsApp div.theme-overview div.common-option.accent button.accent-circle {
  width: 16px;
  height: 16px;
  background-color: var(--accent);
  border-radius: 50%;
  padding: 0;
}

#SettingsApp div.theme-overview div.common-option button.material-icons-round {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  border-radius: 50%;
}

#SettingsApp
  div.theme-overview
  div.common-option
  button.material-icons-round:hover {
  color: var(--accent-light);
}

#SettingsApp div.theme-overview button {
  width: fit-content;
  margin: 0;
}

#SettingsApp div.theme-overview div.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

#SettingsApp div.theme-overview div.buttons button.material-icons-round {
  font-size: 20px;
  padding: 0;
  width: 28px;
  height: 28px;
}
